/*
    Default Theme (Light mode)

    Theme created by Nicolas Honrade
*/

:root {
    --txt-light: #424242;
    --bg-base-light: #e0e0e0;
    --bg-block-light: #ffffff;
    --bg-block2-light: #f5f5f5;
    --bg-accent-light: #2196f3;
}

body {
    background-color: var(--bg-base-light);
}
    body, a, i {
        color: var(--txt-light) !important;
    }

.block, .block-sm {
    background-color: var(--bg-block-light);
}

.block2 {
    background-color: var(--bg-block2-light);
}

.nav_active, .subnav_active {
    background-color: var(--bg-accent-light);
    color: var(--bg-block-light) !important;
}
    .nav_select:hover, .subnav_select:hover, .topnav_select:hover {
        background-color: var(--bg-base-light);
    }

.highlight {
    background-color: var(--bg-block2-light) !important;
}

.week .day.selected span {
    background-color: var(--bg-accent-light);
}

.today-button {
    color: var(--txt-light) !important;
}

.logo {
    content:url("../../img/logov1-trans.png");
}

.topnav_select {
    background-color: var(--bg-block2-light);
}